.bg-red
{
    background-color: red;
}
.text-white
{
    color: white;
}
.bg-purple
{
    background-color: purple;
}
.center
{
    text-align: center;
}
div > p
{
    background-color: plum;
}
*{
    background-color: lightcoral;
    text-align: center;
}
